common --enable_bzlmod

common --registry=https://raw.githubusercontent.com/fastverk/bazel-registry/main/
common --registry=https://bcr.bazel.build/

test --test_output=errors
test --test_summary=terse
